@font-face {
	font-family: "ZombieChecklist";
	font-style: normal;
	font-weight: 400;
	src: url("../assets/MainMenu/Fonts/ZombieChecklistV2.ttf");
}

@font-face {
	font-family: "Moon Flower Bold";
	font-style: normal;
	font-weight: 400;
	src: url("../assets/GameA/Fonts/Moon Flower Bold.ttf");
}